<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">LinksApp</h1>
            <h4 class="mb-5">
                <em>Almacena todos tus enlaces favoritos</em>
            </h4>
            <a href="/signin" class="btn btn-success">
                Comenzar
            </a>
        </div>
    </header>

</main>